<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoesStoreAPI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoesStoreAPI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style ="white-space: nowrap;">
     <header style="position:fixed; width: 100%; z-index: 10;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="HomePage">TuShoes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomePage">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">Các sản phẩm</a>
                        </li>
                        @if (@ViewData["Role"] == "1")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Seller/Create">Thêm sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Seller/Orders">Danh sách đơn hàng</a>
                            </li>
                        }
                        <li class="nav-item" style="">
                            <div class="input-group" style="">
                                <form style="margin: auto;" class="form-outline" method="get" asp-controller="Home" asp-action="Home">
                                    <input style="display: inline;" name="query" type="search" placeholder="Tìm kiếm sản phẩm">
                                    <button type ="submit" style="display: inline;">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </li>
                        <li class="cart-icon nav-item" style="padding: 0 4px; z-index: 1">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cart">
                                <i class="fa-solid fa-cart-shopping" style="font-size: 20px"></i>
                            </a>
                        </li>
                        <li class="nav-item" style="z-index:1">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <style>
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            width: 100%;
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            margin-right: auto;
            margin-left: auto;
        }

        element.style {
        }
        .box-shadow[b-j00o1yecff] {
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
        }
        .border-bottom[b-j00o1yecff] {
            border-bottom: 1px solid #e5e5e5;
        }
        .bg-white {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
        }
        .mb-3 {
            margin-bottom: 1rem!important;
        }
        .border-bottom {
            border-bottom: 1px solid #dee2e6!important;
        }
        .navbar-expand-sm {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
        .navbar {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
        .nav-item{
            display: inline-block;
            margin-right: 10px;
        }
        .cart-icon:hover .no-cart {
            display: block;
        }
        .no-cart {
            position: absolute;
            right: 30px;
            top: calc(-5% + 60px);
            background-color: #f5f5f5;
            display: none;
        }

        #footer {
            margin-top: 16px;
            display: flex;
        }

        .footer_list {
            list-style: none;
        }

        .footer_list > li {
            cursor: pointer;
        }

    </style>
    <footer class="border-top ">
        <div class="container">
            <div class="row">
                <div id="footer">
                    <div class="col-sm-3 mx-1">
                        <ul class="footer_list">
                            <li style="font-weight:700">Chăm sóc khách hàng</li>
                            <li>Trung tâm hỗ trợ</li>
                            <li>Shop Mail</li>
                            <li>Hướng dẫn mua hàng</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 mx-1">
                        <ul class="footer_list">
                            <li style="font-weight:700">Giới thiệu</li>
                            <li>Giới thiệu</li>
                            <li>Tuyển dụng</li>
                            <li>Điều khoản</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 mx-1">
                        <ul class="footer_list">
                            <li style="font-weight:700">Danh mục</li>
                            <li>Giày</li>
                            <li>Quần áo</li>
                            <li>Các sản phẩm khác</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 mx-1">
                        <ul class="footer_list">
                            <li style="font-weight:700">Theo dõi</li>
                            <li><i class="fa-brands fa-facebook"></i> Facebook</li>
                            <li><i class="fa-brands fa-instagram"></i> Instagram</li>
                            <li><i class="fa-brands fa-linkedin"></i> Linkedin</li>
                        </ul>
                    </div>
                </div>
                <p style="text-align:center">© 2023 - Bản quyền thuộc về ShoesStoreAPI</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
