@model ShoesStoreAPI.Models.AddToCart
@using System.Data.SqlClient;
<body onload="msg()">
</body>
<script>
    function msg() {
        alert("Thêm vào giỏ hàng thành công.");
        window.location.href = "Detail?id=@Model.product.Id";
    }
</script>
